<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
{% if name %}

<p>HELLO {{ name }}!</p>

{% else %}

<p>Hello, World!</p>

{% endif %}
</body>
</html>